//colors 
$brown: #b2a492;
$black: #000000;
$gray: #ededed;
$darkgray: #615f5f;
$input-bg: rgba(255, 255, 255, 0.25);
$social-footer-begue: #d9d2c9;
$footer-bg: #726b63;
$modal-bg: #e1e1e1;
$modal-placeholder: #989898;
//fonts 
$muli: 'Muli', sans-serif;
